@{
    ViewBag.Title = "Travel Review";
}

<div class="jumbotron">
    <h1>Review</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Location</h2>
        <p>
            Quisque quis tellus faucibus libero interdum mollis non et risus.
            Maecenas nec tellus sollicitudin, mollis augue ut, congue nisi.
            Sed at quam eu turpis fringilla lobortis a vel augue.
            Cras egestas diam id lectus ultrices consectetur.
            </p>
        <p><a class="btn btn-default" href="">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dining</h2>
        <p>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametQuisque quis tellus faucibus libero interdum mollis non et risus.
            Maecenas nec tellus sollicitudin, mollis augue ut, congue nisi.
            Sed at quam eu turpis fringilla lobortis a vel augue.
            Cras egestas diam id lectus ultrices consectetur.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transportation</h2>
        <p>Quisque quis tellus faucibus libero interdum mollis non et risus.
            Maecenas nec tellus sollicitudin, mollis augue ut, congue nisi.
            Sed at quam eu turpis fringilla lobortis a vel augue.
            Cras egestas diam id lectus ultrices consectetur.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more</a></p>
    </div>
</div>
<div class="col-md-4">
    <h2>Attraction</h2>
    <p>Quisque quis tellus faucibus libero interdum mollis non et risus.
            Maecenas nec tellus sollicitudin, mollis augue ut, congue nisi.
            Sed at quam eu turpis fringilla lobortis a vel augue.
            Cras egestas diam id lectus ultrices consectetur.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more</a></p>
</div>
<div class="col-md-4">
    <h2>Hotel Accomodations</h2>
    <p>
        Quisque quis tellus faucibus libero interdum mollis non et risus.
        Maecenas nec tellus sollicitudin, mollis augue ut, congue nisi.
        Sed at quam eu turpis fringilla lobortis a vel augue.
        Cras egestas diam id lectus ultrices consectetur.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more</a></p>
</div>